.annotation1,
.annotation2,
.annotation3 {
  opacity: 0;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  right: 0;
  animation: fadeInRight 0.6s ease;
  transition: ease 0.5s;
}

.moreInfo {
  filter: invert(100%);
}

.bgImgleft1 {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/comics/comics1.jpg");
  @include bg-setup;
}

.bgImgleft1BD {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/bd/bd-aus.jpg");
  @include bg-setup;
}

.bgImgleft1Manga {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/manga/manga-1.jpg");
  @include bg-setup;
}

.bgImgleft2 {
  padding-left: 242px;
  padding-top: 165px;
  background-image: url("/assets/images/comics/comics2.jpg");
  @include bg-setup;
}

.bgImgleft2BD {
  padding-left: 247px;
  padding-top: 350px;
  background-image: url("/assets/images/bd/bd-aus2.jpg");
  @include bg-setup;
}

.bgImgleft2Manga {
  padding-left: 242px;
  padding-top: 173px;
  background-image: url("/assets/images/manga/manga-2.jpg");
  @include bg-setup;
}

.bgImgleft3 {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/comics/comics3.jpg");
  @include bg-setup;
}

.bgImgleft3BD {
  padding-left: 247px;
  padding-top: 138px;
  background-image: url("/assets/images/bd/bd-aus3.jpg");
  @include bg-setup;
}

.bgImgleft3Manga {
  padding-left: 242px;
  padding-top: 173px;
  background-image: url("/assets/images/manga/manga-3.jpg");
  @include bg-setup;
}

.textFull,
.break {
  display: block;
  padding-bottom: 25px;
}

.text,
.text2,
.text3 {
  color: white;
  font-size: 16px;
  width: 10vw;
  line-height: 1.5;
}

.textFull,
.textFull2,
.textFull3 {
  display: none;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 22px;
  line-height: 1.5;
  width: 45vw;
}

.close,
.close2,
.close3 {
  display: none;
  padding: 50px;
  width: 32px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  filter: invert(100%);
  transform: scaleX(-1);
}

.categoryIMG {
  @include img-title;
  top: 65px;
  left: 280px;
  font-size: 144px;
}

.categoryIMG2 {
  @include img-title;
  top: 85px;
  left: 280px;
  font-size: 86px;
  width: 50vw;
}

.categoryIMG3 {
  @include img-title;
  top: 55px;
  left: 280px;
  font-size: 144px;
}

@media screen and (max-width: 1280px) {
  .annotation1 {
    z-index: 0;
  }

  .annotation {
    &__contents {
      height: 100vh;
      min-width: 70vw;
      background-color: white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
      animation: zoomIn 0.5s;
    }

    &__text {
      margin-top: 20px;
      font-size: 12px;
    }
  }
}
