.modal1,
.modal2,
.modal3 {
  opacity: 0;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: absolute;
  right: 0;
  animation: fadeInRight 0.6s ease;
  transition: ease 0.5s;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &__contents {
    max-height: 75vh;
    width: 40vw;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    animation: zoomIn 0.5s;
  }

  &__img {
    width: 35%;
  }

  &__text {
    color: black;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.moreInfo {
  filter: invert(100%);
}

.bgImgleft1 {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/comics/comics1.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft1BD {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/bd/bd-aus.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft1Manga {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/manga/manga-1.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft2 {
  padding-left: 242px;
  padding-top: 165px;
  background-image: url("/assets/images/comics/comics2.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft2BD {
  padding-left: 247px;
  padding-top: 350px;
  background-image: url("/assets/images/bd/bd-aus2.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft2Manga {
  padding-left: 242px;
  padding-top: 173px;
  background-image: url("/assets/images/manga/manga-2.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft3 {
  padding-left: 184px;
  padding-top: 252px;
  background-image: url("/assets/images/comics/comics3.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft3BD {
  padding-left: 247px;
  padding-top: 138px;
  background-image: url("/assets/images/bd/bd-aus3.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.bgImgleft3Manga {
  padding-left: 242px;
  padding-top: 173px;
  background-image: url("/assets/images/manga/manga-3.jpg");
  background-size: cover;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.textFull,
.break {
  display: block;
  padding-bottom: 25px;
}

.text,
.text2,
.text3 {
  color: white;
  font-size: 16px;
  width: 10vw;
  line-height: 1.5;
}

.textFull,
.textFull2,
.textFull3 {
  display: none;
  flex-direction: column;
  color: white;
  padding: 10px;
  font-size: 22px;
  line-height: 1.5;
  width: 45vw;
}

.close,
.close2,
.close3 {
  display: none;
  padding: 50px;
  width: 32px;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  filter: invert(100%);
}

.categoryIMG {
  display: none;
  position: absolute;
  top: 65px;
  left: 280px;
  font-size: 144px;
  font-weight: 700;
  z-index: 3;
  color: #f0b966;
}

.categoryIMG2 {
  display: none;
  position: absolute;
  top: 85px;
  left: 280px;
  font-size: 86px;
  font-weight: 700;
  z-index: 3;
  color: #f0b966;
  width: 50vw;
}

.categoryIMG3 {
  display: none;
  position: absolute;
  top: 55px;
  left: 280px;
  font-size: 144px;
  font-weight: 700;
  z-index: 3;
  color: #f0b966;
}

@media screen and (max-width: 1280px) {
  .modal1 {
    z-index: 0;
  }

  .modal {
    &__contents {
      height: 100vh;
      min-width: 70vw;
      background-color: white;
      text-align: center;
      padding: 20px;
      position: relative;
      border-radius: 4px;
      animation: zoomIn 0.5s;
    }

    &__text {
      margin-top: 20px;
      font-size: 12px;
    }
  }
}
