@import "home";
@import "mixins";
@import "pages/animations";

// Page End

.bodyManga {
  @include ending-bg;
  background-image: url("../assets/images/home/manga.png");
}

.bodyComics {
  @include ending-bg;
  background-image: url("../assets/images/home/Group_2.png");
}

.bodyBD {
  @include ending-bg;
  background-image: url("../assets/images/home/uderzo_risquetout13.jpg");
}

.scrollElements {
  position: absolute;
  left: 350px;
}

.endContent {
  opacity: 0;
  transition: ease 0.5s;
}

.endAll {
  margin-bottom: 150px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.endText {
  font-size: 80px;
  font-weight: 700;
  color: white;
  padding-left: 16%;
  padding-bottom: 25px;
}

.endSubText {
  font-size: 24px;
  color: white;
  padding-left: 16%;
  padding-bottom: 25px;
}

.endImg {
  position: fixed;
  top: 41%;
  left: 36%;
  cursor: pointer;
  animation: pulse 1s infinite;
}

br {
  padding-bottom: 10px;
}

.separator {
  position: absolute;
  margin-left: 5px;
  width: 72px;
  border: 1px solid #f0b966;
}

.separator2 {
  position: absolute;
  left: 91%;
  border: 1px solid #f0b966;
  width: 72px;
}

.first {
  position: absolute;
  left: 46.31%;
  top: 22.4%;
  bottom: 54.67%;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

.second {
  position: absolute;
  left: 5.49%;
  top: 66.93%;
  bottom: 5.33%;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  color: #ffffff;
}

.endBack {
  position: fixed;
  bottom: 2%;
  right: 1%;
  animation: fadeInUp 1s;
}

@media only screen and (max-width: 1070px) {
  .mobileWarning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;

    &__text {
      color: white;
      text-align: center;
    }

    &__icon {
      display: flex;
      width: 56px;
      filter: invert(100%);
      margin-bottom: 50px;
    }
  }

  .complete,
  .videoContainer,
  .video,
  .endImg,
  .endBack {
    display: none;
  }
}
